In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 1000)

In [16]:
data = pd.read_csv("D:\CD\CD_Variables_Final_v3.csv")

C:\Users\5029874\AppData\Local\Continuum\anaconda3\envs\trainingenv\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (16,38,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
filt = data1[['PROPNO']].groupby(['PROPNO']).size().reset_index(name='counts')

In [ ]:
filt.loc[filt['counts'] == 2]

In [17]:
data.head()              #9159873699/915987369	,	9970734753,915814280

,PROPNO,AGMTNO,DEALER_CODE,PORTFOLIO,PREPAIDPOSTPAIDFLAG,AVGMOBILEBILLAMOUNTLAST3MON,AVGMOBRECHARGEAMOUNTLAST3MON,INSTALLTIME,LASTPINGTIME,REQUESTTIME,DEALER_TYPE,PRODUCT_CODE,MODEL_CODE,SCHEME_TYPE,LTV,STATE,IMEI_NUMBER,MAKE_CODE,MODEL_DESC,MODEL_DESC_V2_MAKE,DEALER_CITY,REGISTRATION_TYPE,SCHEME_CODE,CIBIL_HIT,SURROGATE,ACTUAL_LOAN_AMOUNT,CITY,LATESTBALANCE,GENDER,QUALIFICATION,AGE,CIBIL_SCORE,EXISTING_CUSTOMER,SPL_INSURANCE_TYPE,ADDRESS_TYPE,RESIDENT_TYPE,ADDRESS1,ADDRESS2,ADDRESS3,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,ACTIVITY_CODE,TAT_HOUR,TAT_DAYS,TAT_DAYS_EXCLUDE_SUNDAY,PAYMENT_TYPE,IFSC_CODE,ELIGIBILITYGRID,ELIGIBILITYGRID_REMARK,IS_MANDATE_REGISTERED,DELAER_NAME,DELAER_CATEGORY,IS_MOBILE,Mobile_active_hours,Mobile_Bill,Mobile_Bill_bin,IS_CIBIL_HIT,SURROGATE_CAT,TICKET_SIZE,CROSS_SELL_INSURANCE,DEALER_CITY_V2,BANK_NAME,MICR_CODE,BANK_BRANCH,BANK_ADDRESS,BANK_CONTACT,BANK_CITY,BANK_DISTRICT,BANK_STATE,DEALER_CUST_CITY,CUST_BANK_CITY_DIFF,AGE_BIN,CIBIL_SCORE_NEW,CIBIL_SCORE_NEW_BIN,ADDRESS1_LEN,ADDRESS2_LEN,ADDRESS3_LEN,AGMTNO_v1,applAssetCtg,applAssetMake,D_LOGIN_TIME,LOGIN_dateTime,croApprovedDate,loanDisbDate,residenceCity,Cust_bankName,bankIFSCCode,Bank_Name,Bank_Type,Actual_TAT_Days,Disp_Month_bin,IS_WEEKEND,Processing Unit,CONTACT1,CONTACT2,MOBILE1,MOBILE2,MOBILE1_len,IFSC_LEN
0,3078CD0009160,WB3078CD0009160,CD00910,CD,0,0.0,0.0,2018-04-23T12:10:07.466Z,2018-04-23T12:14:29.339Z,2018-04-23T20:12:08.774Z,DEALER,TV,CD0003748,CDOEM,68.18,WB,NaN,SAMSUNG,SAMSUNG TV UA43K5002AKXXL,SAMSUNG TV,DT1234,NaN,CD_M_0085,Y,NaN,32611,Jalpaiguri,190758.16,MALE,SSC,32,-1.0,NaN,NaN,RS,OWNED,DUMCHIPARA TEA GARDEN,JATHA LINE. .,NaN,N,Y,N,N,Y,N,DISBURSAL_TAT,22.52,0.94,0.94,ADM,SBIN0002025,NaN,No eligibility criteria matched,1,GOYAL RADIOS,DD,0,0.0,0.0,0,1,0,10,0,Jalpaiguri,STATE BANK OF INDIA,735002505,BIRPARA,"PO BIRPARA,JALPAIGURI,WB",0,BIRPARA,JALPAIGURI,WEST BENGAL,1,0,5.0,0.0,1.0,21,15,0,WB3078CD0009160,TELEVISION,SAMSUNG,23/04/2018,2018-04-23T12:10:20.784Z,2018-04-23T12:11:07.154Z,24/04/2018,GARGANDA B.O,STATE BANK OF INDIA,SBIN0002025,STATE BANK OF INDIA,SBI AND ITS ASSOCIATE BANKS,1,1,0,Sumosoft,NaN,NaN,8802205999,NaN,10,11
1,3078CD0009162,WB3078CD0009162,CD00458,CD,0,0.0,0.0,2018-04-23T10:08:59.507Z,2018-04-23T15:37:31.502Z,2018-04-23T19:15:05.057Z,DEALER,TV,CD0007287,CDOEM,66.66,WB,NaN,SONY,SONY TV KLV-32R302E IN5,SONY TV,DT1223,NaN,CD_M_0153,Y,NaN,16332,Murshidabad,NaN,MALE,GRADUATE,23,-1.0,NaN,NaN,RS,OWNED,JHAUBANA NAWDA,JHAUBANA NAWDA,NaN,N,N,N,N,Y,N,DISBURSAL_TAT,144.43,6.02,4.02,ADM,SBIN0007104,NaN,No eligibility criteria matched,1,SUR SANGAM,DD,0,5.0,0.0,0,1,0,7,0,Murshidabad,STATE BANK OF INDIA,741002616,TRIMOHINI,"DIST MURSHIDABAD,WB 742133",0,TRIMOHINI,MURSHIDABAD,WEST BENGAL,1,0,1.0,0.0,1.0,14,14,0,WB3078CD0009162,TELEVISION,SONY,23/04/2018,2018-04-23T10:09:03.353Z,2018-04-23T10:09:49.616Z,26/04/2018,BEHARIA B.O,STATE BANK OF INDIA,SBIN0007104,STATE BANK OF INDIA,SBI AND ITS ASSOCIATE BANKS,3,1,0,Sumosoft,NaN,NaN,7407578710,NaN,10,11
2,3078CD0009161,WB3078CD0009161,CD00442,CD,0,0.0,0.0,NaN,NaN,NaN,DEALER,FRIDGE,CD0011224,CDOEM,66.65,WB,NaN,SAMSUNG,SAMSUNG FRIDGE RR20N2Y2ZD3/NL,SAMSUNG FRIDGE,DT1222,NaN,CD_M_0034,Y,NaN,11064,Bardhaman,NaN,MALE,12TH,43,-1.0,NaN,NaN,RS,OWNED,MATHRUN MONGALKOTE,MATHRUN BARDDHAMAN,NaN,N,N,N,N,Y,N,DISBURSAL_TAT,0.00,0.00,0.00,ACH,UBIN0540510,NaN,No eligibility criteria matched,1,ROY ELECTRONICS AND SERVICE CENTRE,DD,0,NaN,0.0,0,1,0,4,0,Bardhaman,UNION BANK OF INDIA,713026604,KAICHAR,ATPOST KAICHAR DIST. BURDWAN WEST BENGAL PI...,262236,KAICHAR,BARDHAMAN,WEST BENGAL,1,0,8.0,0.0,1.0,18,18,0,WB3078CD0009161,REFRIGERATOR,SAMSUNG,23/04/2018,2018-04-23T09:55:59.184Z,2018-04-23T09:56:30.820Z,23/04/2018,AURIA B.O,UNION BANK OF INDIA,UBIN0540510,UNION BANK OF INDIA,NATIONALISED BANKS,0,1,0,Sumosoft,NaN,NaN,8537018497,NaN,10,11
3,3009CD0000002,KA3009CD0000002,CD01183,CD,0,0.0,0.0,2018-03-17T10:49:16.175Z,2018-03-17T14:48:12.875Z,2018-03-17T19:14:46.949Z,DEALER,TV,CD0002970,CDOEM,66.67,KA,NaN,PANASONIC,PANASONIC TV TH-32E200DX,PANASONIC TV,DT1128,NaN,CD_M_0038,Y,NaN,10800,Bangalore,11575.00,FEMALE,UNDER GRADUATE,26,726.0,NaN,NaN,RS,RENT,#242 2ND MAIN ROAD VIJAYANANDANAGAR,BANGALORE NORTHBANGALORE NANDINILAYOUT,NaN,N,N,N,N,Y,N,DISBURSAL_TAT,3.21,0.13,0.13,ACH,ICIC0002317,7.0,CD/TW -720+ norms met,1,E SHOPPE,DS,0,4.0,0.0,0,1,0,3,0,Bangalore,ICICI BANK LIMITED,560229072,CHANDRA LAYOUT,"ICICI BANK LTD., NO.1210,1ST STAGE,2ND PHASE,C...",0,BANGALORE,BANGALORE URBAN,KARNATAKA,1,1,2.0,726.0,7.0,35,39,0,KA3009CD0000002,TELEVISION,PANASONIC,01/03/2018,2018-03-01T16:06:26.854Z,2018-03-01T16:06:52.420Z,03/03/2018,NANDINILAYOUT S.O,ICICI BANK LIMITED,ICIC0002317,ICICI BANK LIMITED,PRIVATE SECTOR BANKS - INDIAN BANKS,2,1,0,Sumosoft,NaN,NaN,9632811202,NaN,10,11
4,3009CD0000011,KA3009CD0000011,CD01216,CD,0,0.0,0.0,NaN,NaN,NaN,DEALER,TV,CD0006206,CDOEM,66.66,KA,NaN,SAMSUNG,SAMSUNG TV UA32M4200DRLXL,SAMSUNG TV,DT1128,NaN,CD_M_0034,Y,NaN,17332,Bangalore,NaN,MALE,SSC,23,710.0,NaN,NaN,RS,OWNED,"U84, 2 nd main road",swathantrapalya srirampura,NaN,N,N,N,N,Y,N,DISBURSAL_TAT,3.00,0.13,0.00,ACH,SBIN0007080,4.0,CD/TW- 650-719 norms met,1,VENUS WORLD,DS,0,NaN,0.0,0,1,0,8,0,Bangalore,STATE BANK OF INDIA,560002031,MALLESWARAM,"143,MARGOSA ROAD,9TH CROSS,BANGALORE,PIN 560003",0,BANGALORE,BANGALORE URBAN,KARNATAKA,1,1,1.0,710.0,7.0,19,26,0,KA3009CD0000011,TELEVISION,LG,04/03/2018,2018-03-04T09:28:56.998Z,2018-03-04T09:29:17.762Z,08/03/2018,GAYATHRINAGAR S.O,STATE BANK OF INDIA,SBIN0007080,STATE BANK OF INDIA,SBI AND ITS ASSOCIATE BANKS,4,1,1,Sumosoft,NaN,NaN,9535129402,NaN,10,11

In [78]:
data1= data[['AGMTNO','PROPNO','PREPAIDPOSTPAIDFLAG','LTV','ACTUAL_LOAN_AMOUNT','LATESTBALANCE','ELIGIBILITYGRID','IS_MOBILE',
'Mobile_Bill_bin','IS_CIBIL_HIT','PRODUCT_CODE','CITY','SCHEME_TYPE','RESIDENT_TYPE','SURROGATE_CAT','AGE','GENDER','QUALIFICATION','TICKET_SIZE','CROSS_SELL_INSURANCE',
'DEALER_CUST_CITY','AGE_BIN','CIBIL_SCORE_NEW_BIN','Actual_TAT_Days','Disp_Month_bin',
'IS_WEEKEND','VOTERID','PANNO','DRIVING_LICENSE','PASSPORT','AADHAR','RATION','STATE','IS_MANDATE_REGISTERED']]

In [79]:
data1 = data1.drop_duplicates()

In [90]:
existing = pd.read_csv("D:\CD\EXCISTING_CUST.csv")

In [91]:
existing.columns = ['AGMTNO', 'IS_EXIST']

In [92]:
data1 = pd.merge(data1, existing, on='AGMTNO', how='left')

In [93]:
data1 = data1[['AGMTNO','PROPNO','PREPAIDPOSTPAIDFLAG','LTV','ACTUAL_LOAN_AMOUNT','LATESTBALANCE','ELIGIBILITYGRID','IS_MOBILE',
'Mobile_Bill_bin','IS_CIBIL_HIT','PRODUCT_CODE','CITY','SCHEME_TYPE','RESIDENT_TYPE','SURROGATE_CAT','AGE','GENDER','QUALIFICATION','TICKET_SIZE','CROSS_SELL_INSURANCE',
'DEALER_CUST_CITY','AGE_BIN','CIBIL_SCORE_NEW_BIN','Actual_TAT_Days','Disp_Month_bin',
'IS_WEEKEND','VOTERID','PANNO','DRIVING_LICENSE','PASSPORT','AADHAR','RATION','STATE','IS_EXIST','IS_MANDATE_REGISTERED']]

data2 = pd.merge(data1, filt, on='PROPNO', how='inner')

data2.head()

data2.groupby('PROPNO')['Bank_Type'].max()

data2.loc[(~data2['Bank_Type'].isnull()

data1.Bank_Type.isnull().sum()

data1 = data1.drop_duplicates()

data1.to_csv("D:/CD/CD_Variable_all_25_06.csv")

In [94]:
c_group = pd.read_csv("D:/CD/City_group.csv")

In [95]:
c_group = c_group[['City', 'group']]

In [96]:
c_group.columns = ['CITY', 'City_Group']

In [97]:
c_group.columns

Index(['CITY', 'City_Group'], dtype='object')

In [57]:
c_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 2 columns):
CITY          324 non-null object
City_Group    324 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.2+ KB

In [98]:
prod_group = pd.read_csv("D:/CD/Product_Group.csv")

In [99]:
prod_group = prod_group[['PRODUCT_CODE','PROD_GROUP']]

In [100]:
prod_group.head()

  PRODUCT_CODE  PROD_GROUP
0       MOBILE           1
1           TV           1
2       FRIDGE           1
3          WAM           1
4           AC           1

In [101]:
data_new = pd.merge(data1, c_group, on=['CITY'], how='inner')

In [135]:
data_new2 = pd.merge(data_new, prod_group, on=['PRODUCT_CODE'], how='inner')

In [136]:
def change_tgt(row):
    if row['IS_MANDATE_REGISTERED'] == 0:
        return 2
    else:
        return 0

In [137]:
data_new2['IS_MANDATE_REGISTERED_v1'] = data_new2.apply(change_tgt, axis=1)

In [138]:
data_new2['IS_MANDATE_REGISTERED'] = data_new2.apply(lambda x: 1 if x['IS_MANDATE_REGISTERED_v1'] == 2 else 0, axis=1)

In [139]:
del data_new2['IS_MANDATE_REGISTERED_v1']

In [140]:
data_new2['PROD_GROUP'] = data_new2['PROD_GROUP'].astype(str)

In [141]:
data_new2.head()

,AGMTNO,PROPNO,PREPAIDPOSTPAIDFLAG,LTV,ACTUAL_LOAN_AMOUNT,LATESTBALANCE,ELIGIBILITYGRID,IS_MOBILE,Mobile_Bill_bin,IS_CIBIL_HIT,PRODUCT_CODE,CITY,SCHEME_TYPE,RESIDENT_TYPE,SURROGATE_CAT,AGE,GENDER,QUALIFICATION,TICKET_SIZE,CROSS_SELL_INSURANCE,DEALER_CUST_CITY,AGE_BIN,CIBIL_SCORE_NEW_BIN,Actual_TAT_Days,Disp_Month_bin,IS_WEEKEND,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,STATE,IS_EXIST,IS_MANDATE_REGISTERED,City_Group,PROD_GROUP
0,WB3078CD0009160,3078CD0009160,0,68.18,32611,190758.16,NaN,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,32,MALE,SSC,10,0,1,5.0,1.0,1,1,0,N,Y,N,N,Y,N,WB,0.0,0,1.0,1
1,WB3078CD0006318,3078CD0006318,0,77.77,17032,NaN,5.0,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,35,MALE,GRADUATE,8,0,1,6.0,6.0,5,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
2,WB3078CD0007026,3078CD0007026,0,74.66,18664,29890.58,NaN,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,34,MALE,UNDER GRADUATE,8,0,1,6.0,7.0,2,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
3,WB3078CD0040195,3078CD0040195,0,77.78,37332,188925.04,16.0,0,0,1,TV,Jalpaiguri,CDSPL,OWNED,0,53,MALE,GRADUATE,10,1,0,9.0,1.0,8,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
4,WB3078CD0006403,3078CD0006403,0,77.77,31108,3270.44,22.0,0,0,1,TV,Jalpaiguri,CDOEM,OWNED,0,50,MALE,GRADUATE,10,0,1,9.0,8.0,1,1,1,N,N,N,N,Y,N,WB,0.0,0,1.0,1

In [142]:
data_new2.columns

Index(['AGMTNO', 'PROPNO', 'PREPAIDPOSTPAIDFLAG', 'LTV', 'ACTUAL_LOAN_AMOUNT',
       'LATESTBALANCE', 'ELIGIBILITYGRID', 'IS_MOBILE', 'Mobile_Bill_bin',
       'IS_CIBIL_HIT', 'PRODUCT_CODE', 'CITY', 'SCHEME_TYPE', 'RESIDENT_TYPE',
       'SURROGATE_CAT', 'AGE', 'GENDER', 'QUALIFICATION', 'TICKET_SIZE',
       'CROSS_SELL_INSURANCE', 'DEALER_CUST_CITY', 'AGE_BIN',
       'CIBIL_SCORE_NEW_BIN', 'Actual_TAT_Days', 'Disp_Month_bin',
       'IS_WEEKEND', 'VOTERID', 'PANNO', 'DRIVING_LICENSE', 'PASSPORT',
       'AADHAR', 'RATION', 'STATE', 'IS_EXIST', 'IS_MANDATE_REGISTERED',
       'City_Group', 'PROD_GROUP'],
      dtype='object')

In [143]:
data_new2[['City_Group','PROD_GROUP','PREPAIDPOSTPAIDFLAG', 'IS_MOBILE', 'IS_CIBIL_HIT',
       'SURROGATE_CAT', 'CROSS_SELL_INSURANCE',
       'DEALER_CUST_CITY',
       'Disp_Month_bin', 'IS_WEEKEND', 'IS_EXIST']] = data_new2[['City_Group','PROD_GROUP','PREPAIDPOSTPAIDFLAG', 'IS_MOBILE', 'IS_CIBIL_HIT',
       'SURROGATE_CAT', 'CROSS_SELL_INSURANCE',
       'DEALER_CUST_CITY',
       'Disp_Month_bin', 'IS_WEEKEND', 'IS_EXIST']].astype(str)

In [114]:
data_new2.to_csv("D:/CD/CD_Variable_all_28_06_new.csv")

In [149]:
data_new2.head()

,PROPNO,PREPAIDPOSTPAIDFLAG,LTV,ACTUAL_LOAN_AMOUNT,LATESTBALANCE,ELIGIBILITYGRID,IS_MOBILE,Mobile_Bill_bin,IS_CIBIL_HIT,SCHEME_TYPE,RESIDENT_TYPE,SURROGATE_CAT,AGE,GENDER,QUALIFICATION,TICKET_SIZE,CROSS_SELL_INSURANCE,DEALER_CUST_CITY,AGE_BIN,CIBIL_SCORE_NEW_BIN,Actual_TAT_Days,Disp_Month_bin,IS_WEEKEND,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,STATE,IS_EXIST,IS_MANDATE_REGISTERED,City_Group,PROD_GROUP
0,3078CD0009160,0,68.18,32611,190758.16,NaN,0,0,1,CDOEM,OWNED,0,32,MALE,SSC,10,0,1,5.0,1.0,1,1,0,N,Y,N,N,Y,N,WB,0.0,0,1.0,1
1,3078CD0006318,0,77.77,17032,NaN,5.0,0,0,1,CDOEM,OWNED,0,35,MALE,GRADUATE,8,0,1,6.0,6.0,5,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
2,3078CD0007026,0,74.66,18664,29890.58,NaN,0,0,1,CDOEM,OWNED,0,34,MALE,UNDER GRADUATE,8,0,1,6.0,7.0,2,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
3,3078CD0040195,0,77.78,37332,188925.04,16.0,0,0,1,CDSPL,OWNED,0,53,MALE,GRADUATE,10,1,0,9.0,1.0,8,1,0,N,N,N,N,Y,N,WB,0.0,0,1.0,1
4,3078CD0006403,0,77.77,31108,3270.44,22.0,0,0,1,CDOEM,OWNED,0,50,MALE,GRADUATE,10,0,1,9.0,8.0,1,1,1,N,N,N,N,Y,N,WB,0.0,0,1.0,1

In [147]:
len(data_new2.PROPNO.unique())

491594

In [145]:
491594 - 491740# 491594

-146

In [148]:
data_new2.drop(['AGMTNO', 'PRODUCT_CODE', 'CITY'],axis=1,inplace= True)

In [150]:
data_cat = data_new2.select_dtypes(include='object')

In [151]:
data_cat.head()

,PROPNO,PREPAIDPOSTPAIDFLAG,IS_MOBILE,IS_CIBIL_HIT,SCHEME_TYPE,RESIDENT_TYPE,SURROGATE_CAT,GENDER,QUALIFICATION,CROSS_SELL_INSURANCE,DEALER_CUST_CITY,Disp_Month_bin,IS_WEEKEND,VOTERID,PANNO,DRIVING_LICENSE,PASSPORT,AADHAR,RATION,STATE,IS_EXIST,City_Group,PROD_GROUP
0,3078CD0009160,0,0,1,CDOEM,OWNED,0,MALE,SSC,0,1,1,0,N,Y,N,N,Y,N,WB,0.0,1.0,1
1,3078CD0006318,0,0,1,CDOEM,OWNED,0,MALE,GRADUATE,0,1,1,0,N,N,N,N,Y,N,WB,0.0,1.0,1
2,3078CD0007026,0,0,1,CDOEM,OWNED,0,MALE,UNDER GRADUATE,0,1,1,0,N,N,N,N,Y,N,WB,0.0,1.0,1
3,3078CD0040195,0,0,1,CDSPL,OWNED,0,MALE,GRADUATE,1,0,1,0,N,N,N,N,Y,N,WB,0.0,1.0,1
4,3078CD0006403,0,0,1,CDOEM,OWNED,0,MALE,GRADUATE,0,1,1,1,N,N,N,N,Y,N,WB,0.0,1.0,1

In [152]:
del data_cat['PROPNO']

In [153]:
data_cat.City_Group.isnull().sum()

0

In [154]:
data_catv1 = pd.get_dummies(data_cat, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=True, drop_first=True, 
                            dtype=None)

In [155]:
data_catv1.head()

,PREPAIDPOSTPAIDFLAG_1,PREPAIDPOSTPAIDFLAG_2,IS_MOBILE_1,IS_CIBIL_HIT_1,SCHEME_TYPE_CDOEM,SCHEME_TYPE_CDSPL,RESIDENT_TYPE_RENT,SURROGATE_CAT_1,SURROGATE_CAT_10,SURROGATE_CAT_2,SURROGATE_CAT_3,SURROGATE_CAT_4,SURROGATE_CAT_5,SURROGATE_CAT_6,SURROGATE_CAT_7,SURROGATE_CAT_8,SURROGATE_CAT_9,GENDER_MALE,QUALIFICATION_GRADUATE,QUALIFICATION_OTHERS,QUALIFICATION_POST-GRADUATE,QUALIFICATION_PROFESSIONAL,QUALIFICATION_SSC,QUALIFICATION_UNDER GRADUATE,CROSS_SELL_INSURANCE_1,DEALER_CUST_CITY_1,Disp_Month_bin_2,IS_WEEKEND_1,VOTERID_Y,PANNO_Y,DRIVING_LICENSE_Y,AADHAR_Y,STATE_KA,STATE_MH,STATE_TN,STATE_WB,IS_EXIST_1.0,IS_EXIST_2.0,IS_EXIST_3.0,IS_EXIST_nan,City_Group_2.0,City_Group_3.0,PROD_GROUP_2
0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0

In [156]:
data_catv1['PROPNO'] = data_new2['PROPNO']

In [179]:
data_catv1 = data_catv1[['PROPNO','PREPAIDPOSTPAIDFLAG_1', 'PREPAIDPOSTPAIDFLAG_2', 'IS_MOBILE_1',
       'IS_CIBIL_HIT_1', 'SCHEME_TYPE_CDOEM', 'SCHEME_TYPE_CDSPL',
       'RESIDENT_TYPE_RENT', 'SURROGATE_CAT_1', 'SURROGATE_CAT_10',
       'SURROGATE_CAT_2', 'SURROGATE_CAT_3', 'SURROGATE_CAT_4',
       'SURROGATE_CAT_5', 'SURROGATE_CAT_6', 'SURROGATE_CAT_7',
       'SURROGATE_CAT_8', 'SURROGATE_CAT_9', 'GENDER_MALE',
       'QUALIFICATION_GRADUATE', 'QUALIFICATION_OTHERS',
       'QUALIFICATION_POST-GRADUATE', 'QUALIFICATION_PROFESSIONAL',
       'QUALIFICATION_SSC', 'QUALIFICATION_UNDER GRADUATE',
       'CROSS_SELL_INSURANCE_1', 'DEALER_CUST_CITY_1', 'Disp_Month_bin_2',
       'IS_WEEKEND_1', 'VOTERID_Y', 'PANNO_Y', 'DRIVING_LICENSE_Y', 'AADHAR_Y',
       'STATE_KA', 'STATE_MH', 'STATE_TN', 'STATE_WB', 'IS_EXIST_1.0',
       'IS_EXIST_2.0', 'IS_EXIST_3.0', 'IS_EXIST_nan', 'City_Group_2.0',
       'City_Group_3.0', 'PROD_GROUP_2']]

In [180]:
print(" No of Columns : ", len(data_catv1.columns))
data_catv1.head()

 No of Columns :  44

,PROPNO,PREPAIDPOSTPAIDFLAG_1,PREPAIDPOSTPAIDFLAG_2,IS_MOBILE_1,IS_CIBIL_HIT_1,SCHEME_TYPE_CDOEM,SCHEME_TYPE_CDSPL,RESIDENT_TYPE_RENT,SURROGATE_CAT_1,SURROGATE_CAT_10,SURROGATE_CAT_2,SURROGATE_CAT_3,SURROGATE_CAT_4,SURROGATE_CAT_5,SURROGATE_CAT_6,SURROGATE_CAT_7,SURROGATE_CAT_8,SURROGATE_CAT_9,GENDER_MALE,QUALIFICATION_GRADUATE,QUALIFICATION_OTHERS,QUALIFICATION_POST-GRADUATE,QUALIFICATION_PROFESSIONAL,QUALIFICATION_SSC,QUALIFICATION_UNDER GRADUATE,CROSS_SELL_INSURANCE_1,DEALER_CUST_CITY_1,Disp_Month_bin_2,IS_WEEKEND_1,VOTERID_Y,PANNO_Y,DRIVING_LICENSE_Y,AADHAR_Y,STATE_KA,STATE_MH,STATE_TN,STATE_WB,IS_EXIST_1.0,IS_EXIST_2.0,IS_EXIST_3.0,IS_EXIST_nan,City_Group_2.0,City_Group_3.0,PROD_GROUP_2
0,3078CD0009160,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0
1,3078CD0006318,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,3078CD0007026,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3078CD0040195,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,3078CD0006403,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0

In [161]:
data_num = data_new2.select_dtypes(exclude='object')

In [162]:
data_num = data_num.fillna(value=-9999)

In [176]:
data_num = data_num[['PROPNO','LTV', 'ACTUAL_LOAN_AMOUNT', 'LATESTBALANCE', 'ELIGIBILITYGRID',
       'Mobile_Bill_bin', 'AGE', 'TICKET_SIZE', 'AGE_BIN',
       'CIBIL_SCORE_NEW_BIN', 'Actual_TAT_Days', 'IS_MANDATE_REGISTERED']]

In [177]:
print(" No of Columns : ", len(data_num.columns))
data_num.head()

 No of Columns :  12

,PROPNO,LTV,ACTUAL_LOAN_AMOUNT,LATESTBALANCE,ELIGIBILITYGRID,Mobile_Bill_bin,AGE,TICKET_SIZE,AGE_BIN,CIBIL_SCORE_NEW_BIN,Actual_TAT_Days,IS_MANDATE_REGISTERED
0,3078CD0009160,68.18,32611,190758.16,-9999.0,0,32,10,5.0,1.0,1,0
1,3078CD0009162,77.77,17032,-9999.00,5.0,0,35,8,6.0,6.0,5,0
2,3078CD0009161,74.66,18664,29890.58,-9999.0,0,34,8,6.0,7.0,2,0
3,3009CD0000002,77.78,37332,188925.04,16.0,0,53,10,9.0,1.0,8,0
4,3009CD0000011,77.77,31108,3270.44,22.0,0,50,10,9.0,8.0,1,0

In [165]:
data_num['PROPNO'] = data1['PROPNO']

In [182]:
len(data_catv1.PROPNO)

491740

In [183]:
len(data_num.PROPNO)

491740

In [184]:
data_catv1.to_csv("D:/CD/data_cat.csv")
data_num.to_csv("D:/CD/data_num.csv")

In [186]:
datacat = pd.read_csv("D:/CD/data_cat.csv")
datanum = pd.read_csv("D:/CD/data_num.csv")

In [188]:
datacat = datacat.iloc[:,1:]
datanum = datanum.iloc[:,1:]

In [190]:
final_df = pd.merge(datacat, datanum, on=['PROPNO'], how='inner')

final_df = pd.read_csv("D:/CD/CD_variables_28_06_onehot.csv")

In [192]:
final_df.head()

,PROPNO,PREPAIDPOSTPAIDFLAG_1,PREPAIDPOSTPAIDFLAG_2,IS_MOBILE_1,IS_CIBIL_HIT_1,SCHEME_TYPE_CDOEM,SCHEME_TYPE_CDSPL,RESIDENT_TYPE_RENT,SURROGATE_CAT_1,SURROGATE_CAT_10,SURROGATE_CAT_2,SURROGATE_CAT_3,SURROGATE_CAT_4,SURROGATE_CAT_5,SURROGATE_CAT_6,SURROGATE_CAT_7,SURROGATE_CAT_8,SURROGATE_CAT_9,GENDER_MALE,QUALIFICATION_GRADUATE,QUALIFICATION_OTHERS,QUALIFICATION_POST-GRADUATE,QUALIFICATION_PROFESSIONAL,QUALIFICATION_SSC,QUALIFICATION_UNDER GRADUATE,CROSS_SELL_INSURANCE_1,DEALER_CUST_CITY_1,Disp_Month_bin_2,IS_WEEKEND_1,VOTERID_Y,PANNO_Y,DRIVING_LICENSE_Y,AADHAR_Y,STATE_KA,STATE_MH,STATE_TN,STATE_WB,IS_EXIST_1.0,IS_EXIST_2.0,IS_EXIST_3.0,IS_EXIST_nan,City_Group_2.0,City_Group_3.0,PROD_GROUP_2,LTV,ACTUAL_LOAN_AMOUNT,LATESTBALANCE,ELIGIBILITYGRID,Mobile_Bill_bin,AGE,TICKET_SIZE,AGE_BIN,CIBIL_SCORE_NEW_BIN,Actual_TAT_Days,IS_MANDATE_REGISTERED
0,3078CD0009160,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,68.18,32611,190758.16,-9999.0,0,32,10,5.0,1.0,1,0
1,3078CD0006318,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,66.65,11990,-9999.00,-9999.0,0,29,4,4.0,1.0,0,0
2,3078CD0007026,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,66.66,15332,-9999.00,-9999.0,0,29,7,4.0,1.0,1,0
3,3078CD0040195,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,66.65,9690,3088.30,5.0,0,27,2,3.0,1.0,0,0
4,3078CD0006403,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,66.67,9332,-9999.00,-9999.0,0,46,2,8.0,1.0,0,0

In [193]:
final_df.IS_MANDATE_REGISTERED.unique()

array([0, 1], dtype=int64)

In [194]:
final_df.to_csv("D:/CD/CD_variables_28_06_onehot.csv", index=False)

In [ ]:
final_df1 = final_df

In [ ]:
len(final_df.columns)

In [ ]:
y = final_df[['IS_MANDATE_REGISTERED']]

In [ ]:
final_df = final_df.drop('IS_MANDATE_REGISTERED', 1)

In [ ]:
X = final_df.iloc[:,1:38]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(digits.data, digits.target, test_size=0.25, random_state=0)
# all parameters not specified are set to their defaults
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)
# Returns a NumPy Array
# Predict for One Observation (image)
logisticRegr.predict(x_test[0].reshape(1,-1))

In [ ]:
'PRODUCT_CODE' 'ELIGIBILITYGRID' 'CITY' 'SCHEME_TYPE' 'Bank_Type'